body {
	font-family:arial
}
.window {
	color: #fff;
	padding: 5px;
	position:absolute;
	background-color: #000;
	opacity: 0.5;
	border-radius: 5px;
	-moz-border-radius5px;
	-webkit-border-radius:5px;
	border: 1px solid #fff;
	
}
.map {
	left: 100px;
	top: 11px;
	height: 507px;
	width: 507px;
}
.minimap {
	left: 11px;
	top: 11px;
	height: 150px;
	width: 150px;
}
#fps {
    left:800px;
    top:15px;
}
#main {
	width:900px;
	margin:auto;
	position:relative
}
#menu {
	left: 751px;
	top: 11px;
	height: 506px;
	width: 186px;
}
#console {
	left: 11px;
	top: 300px;
	height: 200px;
	width: 600px;
	line-height: 1px;
}
/*html, body{
	margin:0;
	width:100%;
}

header{
	text-align:center;
	margin:auto;
}
#main{
	width:960px;
	margin:0 auto;
}*/